<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <footer class="footer pt-5 mt-5" style="margin-bottom: -80px;">
    <div class="container" style="margin-top: 0px;">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <img src="/static/assets/img/sitesolutionslogo.png" class="logo"style="margin-top:10px;height:200px;opacity: 1.0;margin-left:12%;" alt="alternatetext">
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="nav-link" style="background:transparent; margin-top: 150px;">
              &copy; 2024 - Crafted Site Solutions, LLC | All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>

