<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer class="footer pt-5 mt-5" style="background-color:#010822;justify-content: center;">
    
  
  <div class="container" style="margin-top: 0px;text-align: center;">
    
    <div class="row" style="margin-bottom: 100px;margin-top: 40px;visibility: collapse !important;">
      

      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h4 class="text-gradient text-primary text-sm" style="color: white;opacity: 0.85;margin-top: 50px;
          ">Resources</h4>
          <ul class="flex-column ms-n3 nav" style="margin-top:-10px;">
            <li class="nav-item">
              <a id="foot"class="nav-link" href="#" style="background: transparent;" >
                Referall Program
              </a>
            </li>
            <li class="nav-item">
              <a id="foot"class="nav-link" href="#" style="background: transparent;margin-top:-15px;">
                Sponsorships
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h4 class="text-gradient text-primary text-sm" style="color: white;opacity: 0.85;margin-top: 20px;
          ">Legal</h4>
          <ul class="flex-column ms-n3 nav" style="margin-top:-10px;">
            <li class="nav-item" style="background-color: transparent;">
              <a id="foot"class="nav-link" href="#" style="background: transparent;" >
                Terms & Conditions
              </a>
            </li>
            <li class="nav-item">
              <a id="foot"class="nav-link" href="#" style="margin-top:-15px;background: transparent;" >
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    
  
      <div style="display: inline !important;visibility: hidden;">
        <ul style="display: inline !important;opacity: 0.1;">
          <li class="nav-item">
            <a id="sfoot"class="nav-link pe-1" href="https://www.facebook.com/groups/606576455055657" 
            style="background: transparent;padding-right:10px;font-size: 40px!important;">
              <i class="fa fa-linkedin text-lg opacity-1"></i>    
            </a>
            <a id="sfoot"class="nav-link pe-1" href="https://www.linkedin.com/company/tactical-gentlemen/" 
            style="background: transparent;padding-right:10px;font-size: 40px !important;">
              <i class="fa fa-instagram text-lg opacity-1"></i>
            </a>
            <a id="sfoot"class="nav-link pe-1" href="https://www.instagram.com/tacticalgentlemensft/" 
            style="background: transparent;font-size: 40px !important;">
              <i class="fa fa-facebook text-lg opacity-1"></i>
            </a>
          </li>
        
        </ul>

    </div>
    <img src="/static/assets/img/CSS3.png" 
    class="logo"
    style="opacity:0.9 !important;justify-content:center;margin-top:80px !important;height:100px !important;opacity: 1.0;margin-bottom: 60px;" 
    alt="alternatetext">
    <div class="text-center">
      <a id="foot"class="nav-link" style="background:transparent; margin-top: 0px;">
        &copy; 2024 - Crafted Site Solutions
      </a>
    </div>
  </div>
  
</footer>

<style>
  
  #foot{
    color:#e5742e;
    font-size: 14px;

  }
  .fa {
  padding: 10px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background:linear-gradient(to top,#778188, #abb5be) !important;
    color:#010822;
    border-radius: 8px;
    opacity: 0.8;
}
h4{
  text-decoration: underline;
  margin-top: -80px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;

}


</style>

