{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} About US {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} about-us {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-transparent.html" %}

  <!-- End Navbar -->
  <!-- -------- START HEADER 7 w/ text and video ------- -->
  <header class="bg-gradient-dark" style="box-shadow: 0 0 5px 10px black;">
    <div class="page-header section-height-75" 
      {% if product.img_main %}
        style="background-image: url('{{product.img_main}}');"
      {% else %}
        style="background-image: url('data:image/png;base64,{{product.img_main}}');"
      {% endif %}
    >
      <span class="mask bg-gradient-danger">
      </span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">
              {{ product.name }}
            </h1>
            <p class="lead mb-4 text-white opacity-8">
              {{ product.info }}
            </p>
            
            <!-- used to trigger the right product -->
            <span style="display:none" id="product_slug">{{ product.slug }}</span>
            

            {% if STRIPE_IS_ACTIVE %}

              <a id="submitBtn" href="#" class="btn bg-gradient-light text-dark" style="color:white;text-decoration-color: white;">
                Buy now for ${{ product.price }}
              </a>

            {% else %}

              <button type="button" class="btn bg-gradient-danger text-dark" 
                      data-bs-toggle="modal" 
                      data-bs-target="#stripeModal">
                Buy now for ${{ product.price }}
              </button>

            {% endif %}

            <h6 class="text-white mb-2 mt-5">
              Share on Social Media
            </h6>
            <div class="d-flex justify-content-center">
              <a href="#">
                <i class="fab fa-facebook text-lg text-white me-4"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter text-lg text-white me-4"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </header>
  <!-- -------- END HEADER 7 w/ text and video ------- -->
  <!-- Section with four info areas left & one card right with image and waves -->
  <section class="py-7" style="background: rgb(48,48,48);
  background: radial-gradient(27deg, rgba(48,48,48,1) 0%, rgba(55,55,55,1) 37%, rgba(71,71,71,1) 54%);">
    
    <div class="container">
      
      <div class="row align-items-center">
      
        <div class="col-lg-6">
          <div class="row justify-content-left">

            <div class="col-md-12">
            
             
                <h4 style="margin-top: -40px;">
                  {{ product.name }} info
                </h4>
                <h6>
                  {{ product.info }}
                </h6>
                <p style="margin-top: 0px;color:white;">
                  {{ product.full_description }}  
                </p>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-4 ms-auto mt-lg-0 mt-4" style="margin-top: -80px;">
          <div class="card shadow-lg" style="background-color: #2F2F2F;margin-top: -80px;">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1" style="background-color: black;">
              <div class="d-block blur-shadow-image">
                {% if product.img_card %}
                  {% if product.img_card|first in 'http' %}
                  <img src="{{product.img_card}}" alt="img-blur-shadow" class="img-fluid shadow rounded-3">
                  {% else %}
                  <img src="{{product.img_card}}" alt="img-blur-shadow" class="img-fluid shadow rounded-3">
                  {% endif %}
                {% else %}
                  {% if product.img_main|first in 'http'%}
                  <img src="{{product.img_main}}" alt="img-blur-shadow" class="img-fluid shadow rounded-3">
                  {% else %}
                  <img src="{{product.img_main}}" alt="img-blur-shadow" class="img-fluid shadow rounded-3" style="margin-top: -60px;">
                  {% endif %}
                {% endif %}
              </div>
              <div class="colored-shadow" style="background-image: url(&quot;https://images.unsplash.com/photo-1604446062885-9f29f136fe87?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3300&amp;q=80&quot;);"></div>
            </div>
            <div class="card-body">
              <a href="javascript:;">
                <h5 class="mt-3">
                  {{ product.name }}
                </h5>
              </a>
              <p>
                {{ product.short_description }}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- END Section with four info areas left & one card right with image and waves -->

  {% include "ecommerce/modal-warning.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'assets/js/payments.js' %}"></script>

  <script>
    if (document.getElementsByClassName('page-header')) {
      window.addEventListener('scroll', function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var limit = bgParallax.offsetTop + bgParallax.offsetHeight;
        if (scrollPosition > bgParallax.offsetTop && scrollPosition <= limit) {
          bgParallax.style.backgroundPositionY = (50 - 10 * scrollPosition / limit * 3) + '%';
        } else {
          bgParallax.style.backgroundPositionY = '50%';
        }
      });
    }
  </script>

{% endblock javascripts %}
