<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <footer class="footer pt-5 mt-5">
    
    <hr class="horizontal dark mb-5">
    
    <div class="container" style="margin-top: -130px;">
      
      <div class="row" style="margin-bottom: 100px;">
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <h5 class="text-gradient text-primary font-weight-bolder" style="
            background-image: linear-gradient(27deg, rgb(168, 123, 17) 15%, rgb(211, 181, 84) 60%);">Social Media</h5>
          </div>
          <div>
            <ul class="d-flex flex-row ms-n3 nav" style="margin-top:-15px;">
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.facebook.com/groups/606576455055657" style="background: transparent;">
                  <i class="fa fa-facebook text-lg opacity-8"></i>    
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.linkedin.com/company/tactical-gentlemen/" style="background: transparent;">
                  <i class="fa fa-linkedin text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.instagram.com/tacticalgentlemensft/" style="background: transparent;">
                  <i class="fa fa-instagram text-lg opacity-8"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h5 class="text-gradient text-primary text-sm" style="
            background-image: linear-gradient(27deg, rgb(168, 123, 17) 15%, rgb(211, 181, 84) 60%);">Company</h5>
            <ul class="flex-column ms-n3 nav" style="margin-top:-15px;">
              <li class="nav-item">
                <a class="nav-link" href="#" style="background: transparent;">
                  About Us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h5 class="text-gradient text-primary text-sm" style="
            background-image: linear-gradient(27deg, rgb(168, 123, 17) 15%, rgb(211, 181, 84) 60%);">Resources</h5>
            <ul class="flex-column ms-n3 nav" style="margin-top:-15px;">
              <li class="nav-item">
                <a class="nav-link" href="#" style="background: transparent;" >
                  Club Membership
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="background: transparent;">
                  Affiliate Program
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="background: transparent;">
                  Sponsorships
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h5 class="text-gradient text-sm" style="
            background-image: linear-gradient(27deg, rgb(168, 123, 17) 15%, rgb(211, 181, 84) 60%);">Support</h5>
            <ul class="flex-column ms-n3 nav" style="margin-top:-15px;">
              <li class="nav-item">
                <a class="nav-link" href="#" style="background: transparent;">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="background: transparent;">
                  Knowledge Center
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
          <div>
            <h5 class="text-gradient text-primary text-sm" style="
            background-image: linear-gradient(27deg, rgb(168, 123, 17) 15%, rgb(211, 181, 84) 60%);">Legal</h5>
            <ul class="flex-column ms-n3 nav" style="margin-top:-15px;">
              <li class="nav-item" style="background-color: transparent;">
                <a class="nav-link" href="#" style="background: transparent;" >
                  Terms & Conditions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="background: transparent;" >
                  Privacy Policy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="background: transparent;">
                  Licenses
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="nav-link" style="background:transparent; margin-top: 150px;">
              &copy; 2024 - Tactical Gentlemen | All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

